#
# C++ code formatting style as a clang-format configuration file.
#
BasedOnStyle: LLVM
Language: Cpp
AccessModifierOffset: -2
AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlines: DontAlign
AlwaysBreakTemplateDeclarations: true
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  SplitEmptyFunction: true
CompactNamespaces: true
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
Cpp11BracedListStyle: true
FixNamespaceComments: true
IncludeBlocks: Preserve
IncludeCategories:
  # Public project include files
  - Regex:    '<[[:alpha:]-]*.hpp>'
    Priority: 2
  # C++ Standard Library
  - Regex:    '<[[:alpha:]_]+>'
    Priority: 3
  # C Standard Library
  - Regex:    '<[[:alnum:].]+>'
    Priority: 4
  # Everything else, third party library headers
  - Regex:    '.*'
    Priority: 1
IndentWidth: 2
Standard: Cpp11
